<p> Username:  {{username}} </p>
<p> Reports : {{ reports }}  </p>
<ul style="list-style-type:none">
	<li style="display: inline-block" ng-repeat="report in reports">
		<button class="btn btn-default" ng-click="placeReport(report)">Report </button>
	</li>
</ul>
<div ng-repeat="report in reports">
</div>

<div class="container">
	<h3 class="text-center">Report Generator</h3>
	    <select-and-box></select-and-box>
	<br /><br /><br />

	<div class="letter" ng-show="boxFlag" >	
		<h4 style="font-family:'Arial Black', Geneva, sans-serif" class="text-center">Report Content</h4>
		 <ul style="list-style-type:none"  ui-sortable="srcSortableOptions" ng-model="output">
		<li  ng-repeat="item in output">
			<strong style="font-family:Comic Sans MS, sans-serif; font-size: 17px;">{{item.heading}}</strong>
			<pre highlight="{{item.heading}}" class="prettyprint linenums">{{ item.text }}</pre>
		</li>
		</ul>
	</div>
</div>

