body {
	background: #F8F8F8;
}
.red {
    color: red;
}

.navy {
    color: navy;
}
/* ng-cload */
[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate) {
    display:none !important;
}

th {
    background: #c9c5c5;
}

select {
	padding: 2px;
}

.well {
	background: #eeee4e;
}